<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">HEXA Module</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>




<br>
	<br>

	<div class="container">
	<div class="row">
    <div class="col">
		<h1>Library Management</h1>
		Welcome <span sec:authentication="principal.username"> User</span>
		
<br>
	<br>
		<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully subscribe for the book!</div>
				</div>
		<div>
			<br>
			<br>
			<a th:href="@{/books/registration}">Book Registration</a>
			<br>
			<br>
			<a th:href="@{/books/listing}">Book Listing</a>
		</div>
		</div>
    <div class="col">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book Name</th>
      <th scope="col">Numbe of available copy</th>
      <th scope="col">Already brrowed</th>
      <th scope="col">Add to card</th>
    </tr>
  </thead>
  <tbody>

	<span th:if="${numOfBook} == 0">
		<tr> <th colspan="5" scope="row">No data! </th></tr>
	</span>
	<span th:unless="${numOfBook} == 0">
		<tr th:each="book : ${books}">
    	<th scope="row" th:text="${book.bookId}"></th>
    	<th th:text="${book.bookName}"></th>
    	<th th:text="${book.numOfCopyOfBook}"></th>
    	<th>
    	<span th:if="${book.bookId} == ${book.usersBooksId}"><a th:href="@{/books/return/{id}/book/{bId}(id=${book.uBId}, bId=${book.bookId})}">Return</a></span>
    	<span th:unless="${book.bookId} == ${book.usersBooksId}">NO</span>
    	
    	</th>
    	<th th:switch="${book.bookId} == ${book.usersBooksId}">
    	<span th:case=true>subscribed</span>
    	<span th:case=false>
    	<span th:if="${bookCount} == 2">XXX</a></span>
    	<span th:unless="${bookCount} == 2">
    		<a th:href="@{/books/add/{id}(id = ${book.bookId})}">Add</a> </span>
    	</span>
    	</span>
    	</th>
    </tr>
	</span>
	
	

    
    
    
  </tbody>
</table>     


    </div>
    
    
    
	</div>


</body>
</html>